@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: white; }

/* CSS DEL HEADER */
.header {
  display: flex;
  flex-direction: column; }
  .header .contain-logo-redes {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .header .logo {
    padding-top: 0.5rem;
    height: 90px;
    width: 120px; }
  .header nav {
    margin-top: 10px;
    border: 1px solid crimson; }
  .header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center; }
  .header nav ul li {
    padding: 0px 5px;
    text-align: center;
    width: 100%; }
  .header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.65rem; }
  .header nav ul li:hover {
    background-color: crimson; }
  .header .redes {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .header .redes img {
    padding-right: 10px;
    width: 35px;
    height: 35px; }

/* CSS DEL MAIN */
.main-index {
  text-align: center;
  /* Animacion de del parrafo del main */ }
  .main-index h1 {
    color: #838304; }
  .main-index img {
    width: 75%;
    height: 75%; }
  .main-index .parrafo-1 {
    margin: 0.25rem;
    color: white;
    font-size: 0.8rem; }
  .main-index .apareciendo {
    animation-name: apareciendo;
    animation-duration: 4s;
    animation-iteration-count: 1; }

@keyframes apareciendo {
  0% {
    color: rgba(255, 255, 255, 0); }
  20% {
    color: rgba(255, 255, 255, 0.134); }
  40% {
    color: rgba(255, 255, 255, 0.4); }
  60% {
    color: rgba(255, 255, 255, 0.616); }
  80% {
    color: rgba(255, 255, 255, 0.818); }
  100% {
    color: white; } }

.main-eventos p {
  background-color: white;
  color: crimson; }

/* CSS DEL FOOTER */
.footer {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #cdcdcd;
  background: radial-gradient(circle, #cdcdcd 0%, black 100%, black 100%); }
  .footer p {
    color: white;
    text-shadow: 1px 3px black;
    padding-bottom: 10px; }
  .footer .footer-logo {
    height: 90px;
    width: 90px; }

/* MOBILE FIRST Movil pequeño 360*640 */
body {
  background-color: black; }

/* TABLET  MAYOR 768*/
@media (min-width: 768px) {
  .redes img {
    width: 48px;
    height: 48px; }
  nav ul li a {
    font-size: 1rem; }
  .parrafo-1 {
    font-size: 1.2rem;
    margin: 1rem; }
  /* CSS VIDEO */
  .grid-padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "video1 video2" "video3 video4";
    align-items: center; }
  main div div iframe {
    height: 300px;
    width: 350px; }
  .video1 {
    grid-area: video1;
    border: 1px solid gray; }
  .video2 {
    grid-area: video2;
    border: 1px solid gray; }
  .video3 {
    grid-area: video3;
    border: 1px solid gray; }
  .video4 {
    grid-area: video4;
    border: 1px solid gray; } }
