@import './sections/header';
@import './sections/main-index';
@import './sections/footer';

/* MOBILE FIRST Movil pequeño 360*640 */
/* RESET */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color:white;
}
body {
  background-color: black;
}

/* TABLET  MAYOR 768*/
@media (min-width: 768px) {
  .redes img {
    width: 48px;
    height: 48px;
  }
  nav ul li a {
    font-size: 1rem;
  }

  .parrafo-1 {
    font-size: 1.2rem;
    margin: 1rem;
  }

  /* CSS VIDEO */
  .grid-padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "video1 video2"
      "video3 video4";
    align-items: center;
  }

  main div div iframe {
    height: 300px;
    width: 350px;
  }
  .video1 {
    grid-area: video1;
    border: 1px solid gray;
  }

  .video2 {
    grid-area: video2;
    border: 1px solid gray;
  }

  .video3 {
    grid-area: video3;
    border: 1px solid gray;
  }

  .video4 {
    grid-area: video4;
    border: 1px solid gray;
  }
}

/* DESKTOP Mayor 1024 */
@media (min-width: 1024px) {
  main div div iframe {
    height: 300px;
    width: 350px;
  }
  /* CAMBIO DE FLEX GRID EN LA BIOGRAFIA */
  .grid-padre-bio {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "foto1 foto1 biografia biografia"
      "foto1 foto1 biografia biografia"
      "integrante1 integrante2 integrante3 integrante4"
      "integrante1 integrante2 integrante3 integrante4";
  }
  .foto1 {
    grid-area: foto1;
  }
  .biografia {
    grid-area: biografia;
  }
  .integrante1 {
    grid-area: integrante1;
  }
  .integrante2 {
    grid-area: integrante2;
  }
  .integrante3 {
    grid-area: integrante3;
  }
  .integrante4 {
    grid-area: integrante4;
  }
}