/* CSS DEL HEADER */
.header {
  display: flex;
  flex-direction: column;
  min-height: 15vh;

  .contain-logo-redes {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    padding-top: 0.5rem;
    height: 90px;
    width: 120px;
  }

  .logo:hover{
    transition: width .5s;
    width: 150px
  }

  nav {
    border: 1px solid crimson;
    width: 100%;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  nav ul li {
    text-align: center;
    width: 100%;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.65rem;
  }

  nav ul .li-select {
    background-color: crimson;
  }

  nav ul li:hover {
    background-color: crimson;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .redes img {
    padding-right: 10px;
    width: 35px;
    height: 35px;
  }

  // QUERY HEADER
  @include tablet {
    .redes img {
      width: 48px;
      height: 48px;
    }

    nav ul li a {
      font-size: 1rem;
    }

    .parrafo-1 {
      font-size: 1.2rem;
      margin: 1rem;
    }

  }
}