/* CSS MAIN VIDEO */
.main-video {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  margin-bottom: 1rem;

  h1 {
    color: rgb(131, 131, 4);
    font-size: 2rem;
    font-family: $immanis;
    text-align: center;

  }

  .grid-padre {
    display: flex;
    flex-direction: column;
    text-align: center;

    .video1 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .video2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .video3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .video4 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

// QUERY VIDEOS
@include tablet {
  .main-video .grid-padre iframe {
    height: 300px;
    width: 500px;
  }
}

@include desktop {
  .grid-padre {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "video1 video2"
      "video3 video4";
    align-items: center;
  }

  .video1 {
    margin: 5px;
    grid-area: video1;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .video2 {
    margin: 5px;
    grid-area: video2;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .video3 {
    margin: 5px;
    grid-area: video3;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .video4 {
    grid-area: video4;
    border: 1px solid gray;
    border-radius: 50px;
    margin: 5px;
  }
}