// CSS BIOGRAFIA

.main-biografia {
  text-align: center;

  .grid-padre-bio {
    padding: 3px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .img-bio {
    width: 100%;
  }
}

// QUERY BIOGRAFIA

@include desktop {
  .grid-padre-bio {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 20px;
    grid-template-areas:
      "foto1 foto1 biografia biografia"
      "integrante1 integrante2 integrante3 integrante4";
    border-radius: 25px;
  }

  .foto1 {
    margin: 1rem 0px;
    grid-area: foto1;
    border-radius: 25px;
    background-color: rgb(100, 13, 31);
  }

  .biografia {
    padding: 1.5rem;
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: biografia;
    border-radius: 25px;
    background-color: rgb(100, 13, 31);
  }

  .integrante1 {
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: integrante1;
    border-radius: 25px;
    background-color: rgb(100, 13, 31);

    div {
      margin: auto;
      width: 80%;
    }
  }
}

.integrante2 {
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: integrante2;
  border-radius: 25px;
  background-color: rgb(100, 13, 31);

  div {
    margin: auto;
    width: 80%;
  }
}

.integrante3 {
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: integrante3;
  border-radius: 25px;
  background-color: rgb(100, 13, 31);

  div {
    margin: auto;
    width: 80%;
  }
}

.integrante4 {
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: integrante4;
  border-radius: 25px;
  background-color: rgb(100, 13, 31);

  div {
    margin: auto;
    width: 80%;
  }
}
