/* CSS DEL MAIN */
.main-index {
  text-align: center;
  min-height: 70vh;
  .container {
    width: 100%;
  }

  h1 {
    color: rgb(131, 131, 4);
    font-size: 2rem;
    font-family: $immanis;
  }

  .img-carousel {
    width: 300px;
    height: 225px;
  }

  .parrafo-1 {
    margin-top: 0.5rem;
    color: white;
    font-size: 0.8rem;
  }

  /* Animacion de del parrafo del main */
  .apareciendo {
    animation-name: apareciendo;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }

  @keyframes apareciendo {
    0% {
      color: rgba(255, 255, 255, 0);
    }

    20% {
      color: rgba(255, 255, 255, 0.134);
    }

    40% {
      color: rgba(255, 255, 255, 0.4);
    }

    60% {
      color: rgba(255, 255, 255, 0.616);
    }

    80% {
      color: rgba(255, 255, 255, 0.818);
    }

    100% {
      color: white;
    }
  }
}

// QUERY INDEX
@include tablet {
  .main-index h1 {
    font-size: 3rem;
  }
  .main-index .img-carousel {
    width: 768px;
    height: 650px;
  }
  .main-index .parrafo-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

@include desktop {

  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .main-index .parrafo-1 {
    font-size: 2rem;
  }
}

