// CSS BIOGRAFIA

.main-biografia {
  text-align: center;

  .grid-padre-bio {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  p {
    border-radius: 25px;
    background-color: rgb(100, 13, 31);
    padding: 5%;
    margin: 5% 0px;
  }

  .img-bio {
    width: 100%;
    height: 100%;
  }

  .img-int {
    margin: 5%;
    width: 200px;
    height: 300px;
  }
}

@include tablet {
  .card-container {
    display: flex;
    align-items: center;
  }
}

@include desktop {
  .grid-padre-bio {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 20px;
    grid-template-areas:
      "foto1 foto1 biografia biografia"
      "integrante1 integrante2 integrante3 integrante4";
    border-radius: 25px;
  }

  .foto1 {
    grid-area: foto1;
  }

  .biografia {
    grid-area: biografia;
    padding: 1.5rem;
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-int {
    margin: 5%;
    width: 300px !important;
    height: 500px !important;
  }

  .card-container {
    display: block;
  }
}