// CSS EVENTOS
.main-eventos {
    width: 100%;

    h1 {
        color: rgb(131, 131, 4);
        font-size: 2rem;
        font-family: $immanis;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;

        .img-center {
            text-align: center;
        }

        .table {
            text-align: center;
            width: 100%;
            height: 100%;
            border: 1px solid grey;

            th {
                opacity: 75%;
                background-color: rgb(14, 12, 121);
            }

            td {
                border: 1px solid grey;
            }
        }

        .img-event {
            opacity: 75%;
            width: 300px;
            height: 225px;
        }
    }
}

// QUERY EVENTOS

@include tablet {
    .main-eventos {
        .container {
            .img-event {
                opacity: 75%;
                width: 560px;
                height: 560px;
            }
        }
    }
}

@include desktop {
    .main-eventos {
        h1 {
            font-size: 5rem;
        }

        margin-bottom: 20px;

        .container {
            flex-direction: row;
            justify-content: space-around;

            .table {
                width: 560px;
            }

            .img-event {
                opacity: 75%;
                width: 560px;
                height: 560px;
            }
        }
    }
}