// CSS EVENTOS
.main-eventos {
    h1 {
        color: rgb(131, 131, 4);
        font-size: 2rem;
        font-family: $immanis;
        text-align: center;
    }

    .container {
        min-height: 70vh;
        display: flex;
        flex-direction: column;

        .img-center {
            text-align: center;
        }

        .table {
            text-align: center;
            width: 80%;
            margin:auto;
            height: 100%;
            border: 1px solid grey;

            th {
                opacity: 65%;
                background-color: rgb(14, 12, 121);
            }

            td {
                border: 1px solid grey;
            }
        }

        .img-event {
            opacity: 85%;
            width: 250px;
            height: 360px;
        }
    }
}

// QUERY EVENTOS

@include tablet {
    .main-eventos {
        .container {
            .img-event {
                opacity: 85%;
                width: 560px !important;
                height: 700px !important;
            }
        }
    }
}

@include desktop {
    .main-eventos {
        h1 {
            font-size: 3rem;
        }

        margin-bottom: 20px;

        .container {
            flex-direction: row;
            justify-content: space-around;

            .table {
                width: 560px;
            }

            .img-event {
                opacity: 75%;
                width: 560px;
                height: 560px;
            }
        }
    }
}