/* DESKTOP Mayor 1024 */
@media (min-width: 1024px) {
    main div div iframe {
      height: 300px;
      width: 350px;
    }
    /* CAMBIO DE FLEX GRID EN LA BIOGRAFIA */
    .grid-padre-bio {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 5px 5px;
      grid-template-areas:
        "foto1 foto1 biografia biografia"
        "foto1 foto1 biografia biografia"
        "integrante1 integrante2 integrante3 integrante4"
        "integrante1 integrante2 integrante3 integrante4";
    }
    .foto1 {
      grid-area: foto1;
    }
    .biografia {
      grid-area: biografia;
    }
    .integrante1 {
      grid-area: integrante1;
    }
    .integrante2 {
      grid-area: integrante2;
    }
    .integrante3 {
      grid-area: integrante3;
    }
    .integrante4 {
      grid-area: integrante4;
    }
}